          {%- assign primary_category = featured_post.categories[0] -%}
          {%- assign category_meta = site.avocado.known_categories[primary_category] -%}
          <div class="media no-gutters border rounded overflow-hidden mb-4" style="background-color: #{{ featured_post.cover_bg }}">
            <div class="media-body p-4 bg-light h-md-250">
              <strong class="d-inline-block mb-2 {{ category_meta.text_class | default: 'text-black' }}">{{primary_category | default: 'Blog' | capitalize}}</strong>
              <h3 class="mb-0">{{ featured_post.title | escape }}</h3>
              <div class="mb-1 text-muted">{{ featured_post.date | date: date_format }}{% if featured_post.author %} by <span class="p-author h-card" itemprop="name">{{ featured_post.author | escape }}</span>{% endif %}</div>
              <a href="{{ featured_post.url | relative_url }}" class="stretched-link">Continue reading</a>
            </div>
            <div class="h-md-250 overflow-hidden text-center w-md-180">
              <img src="{{featured_post.cover | absolute_url }}" alt="{{ featured_post.title | escape }}" width="auto" height="250" />
            </div>
          </div>